doctype html
html
  head
    title Dashboard de administrador
    meta(charset="utf-8")
    //- Importamos SweetAlert desde CDN
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
  body
    include header.pug
    h1 Dashboard de Administrador

    h2 Crear Película
    form#formulario(method="POST" action="/crear-pelicula")
      label(for="Title") Título:
      input#title(type="text" name="Title" required)
      br

      label(for="Year") Año:
      input#year(type="number" name="Year" required)
      br

      label(for="Runtime") Duración:
      input#runtime(type="text" name="Runtime" required)
      br

      label(for="Genre") Género:
      input#genre(type="text" name="Genre" required)
      br

      label(for="Director") Director:
      input#director(type="text" name="Director" required)
      br

      label(for="Actors") Actores:
      input#actors(type="text" name="Actors" required)
      br

      label(for="Plot") Sinopsis:
      textarea#plot(name="Plot" required)
      br

      label(for="Country") País:
      input#pais(type="text" name="Country" required)
      br

      label(for="Poster") URL del póster:
      input#url(type="text" name="Poster" required)
      br

      label(for="imdbRating") Rating IMDb:
      input#rating(type="number" name="imdbRating" min="0" max="10" step="0.1" required)
      br

      label(for="Opinions") Opiniones:
      textarea#opinion(name="Opinions")
      br

      button#addMovie(type="submit") Guardar película

    #Pelisbbdd

  
    script(src="/js/formAdmin.js")
  include footer.pug
    
