header.header
  nav.navbar
    ul.nav-list
      li.nav-item
        a.nav-link(href="/search") Buscar
      li.nav-item
        a.nav-link(href="/favorites") Favoritos
      li.nav-item
        if user
          if user.role === 'admin'
            a.nav-link(href="/adminDashboard") Usuario
          else
            a.nav-link(href="/userDashboard") Usuario
        else
          a.nav-link(href="/login") Usuario
