doctype html
html
  head
    title Login
    meta(charset="utf-8")
  body
    h1 Inicio de sesi칩n
    if error
      p #{error}
    form(action="/login" method="POST")
      // Email
      label(for="email") Email:
      input(type="email" name="email" id="emailLogin" required)
      br
      // Password
      label(for="password") Contrase침a:
      input(type="password" name="password" id="passwordLogin" required)
      br
      button(type="submit") Iniciar Sesi칩n
      p
        a(href='/auth/google') Iniciar sesi칩n con Google