doctype html
html
  head
    title Sign Up
    meta(charset="utf-8")
  body
    h1 Hola usuario

    // Bot贸n para ir al Dashboard
    form(action="/dashboard" method="get")
      button(type="submit") Ir al Dashboard

    br

    // Bot贸n para cerrar sesi贸n
    form(action="/logout" method="get")
      button(type="submit") Cerrar sesi贸n